body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: 'Nunito', sans-serif;
}

/* left control */
.left-control {
  background-color: rgb(34, 35, 35);
  color: #f1f1f1;
  position: absolute;
  height: 100vh;
  width: 16.7vw;
}

.logo {
  text-align: center;
}

h5 {
  font-size: 15px;
  margin-top: 10%;
}

.logo img {
  height: 80px;
  width: 80px;
  margin: 20% 0 5% 0;
}

label {
  padding: 2%;
  font-size: 12px;
}

/* Right control */

.right-control {
  background-color: rgb(34, 35, 35);
  color: #f1f1f1;
  position: absolute;
  height: 100vh;
  width: 16.7vw;

  right: 0;
}

.date {
  padding: 15% 0 10%;

  background-color: #607eaa;
}

.right-control p {
  margin: 0;
}

.date {
  text-align: center;
}

/* Location */

.title {
  margin-left: 15%;
}

.title img,
h5,
button {
  display: inline-block;
  margin: 5% 2%;
}

.title button {
  border-radius: 10px;
  height: 25px;
}

#location-input {
  font-size: 10px;
  height: 20px;
  width: 120px;
}

button {
  position: absolute;
  right: 2%;
}

.main {
  position: absolute;
  left: 20%;
}
