body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: 'Nunito', sans-serif;
}

/* City Input */
.city-input {
  margin-top: 2%;
  text-align: center;
}

.search-icon {
  margin: 5px;
}

.search-icon:hover {
  cursor: pointer;
  transition: 0.5s ease-in-out;
  transform: scale(1.2);
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}

.form__field {
  width: 20%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3vw;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: gray;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 500;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
  transition: 0.2s ease;
}

/* left control */
.left-control {
  background-color: rgb(248, 248, 248);
  color: #1c1b1b;
  position: absolute;
  float: left;
  top: 0;
  height: 100vh;
  width: 16.7vw;
}

.logo {
  text-align: center;
}

h5 {
  font-size: 20px;
  margin-top: 10%;
}

.logo img {
  height: 100px;
  width: 100px;
  margin: 20% 0 5% 0;
}

label {
  padding: 2%;
  font-size: 12px;
}

/* Right control */

.right-control {
  background-color: rgb(248, 248, 248);
  position: absolute;
  color: #1c1b1b;
  float: right;
  height: 100vh;
  width: 16.7vw;
  right: 0;
  top: 0;
}

.date {
  padding: 15% 0 10%;

  background: radial-gradient(
    circle,
    rgba(238, 213, 174, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  text-align: center;
}

.right-control p {
  margin: 0;
}

.date p {
  color: white;
}

.major-city {
  margin: 10% 0;
  display: grid;
}

.city-btn {
  margin: 10%;
  border: 0;
  background-color: rgb(248, 248, 248);
}

/* Location */

.location h5 {
  margin-top: 0;
}

.location {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.location button {
  margin-top: -10px;
  border: 0;
}

.location img {
  padding-right: 5px;
  margin-bottom: 5px;
}

/* Main View */

.main {
  width: 100vw;
  margin-top: 2%;
}

.info-title {
  padding: 0 20px;
}

.top-card {
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 20px;

  background: linear-gradient(
    270deg,
    rgba(37, 125, 184, 1) 15%,
    rgb(15, 187, 222) 100%
  );
}

.temp {
  font-size: 60px;
}

.weather-icon {
  font-size: 64px;
}

.bot-card {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.humidity,
.wind {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.wi-raindrop,
.wi-strong-wind {
  padding-right: 10px;
  margin-top: 8px;
}

.bar {
  margin: 3%;
  height: 1px;
  background-color: #eaeff5;
}

.sun-data {
  padding: 0 20px;
}

.sunrise {
  display: flex;
  justify-content: flex-start;
}

.sunset {
  display: flex;
  justify-content: flex-end;
}

.wi-sunrise,
.wi-sunset {
  padding-right: 10px;
  margin-top: 4px;
}
