body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: 'Nunito', sans-serif;
}

/* City Input */
.city-input {
  text-align: center;
}

.search-icon {
  margin: 5px;
}

.search-icon:hover {
  cursor: pointer;
}

/* left control */
.left-control {
  background-color: rgb(248, 248, 248);
  color: #1c1b1b;
  position: absolute;
  float: left;
  top: 0;
  height: 100vh;
  width: 16.7vw;
}

.logo {
  text-align: center;
}

h5 {
  font-size: 20px;
  margin-top: 10%;
}

.logo img {
  height: 100px;
  width: 100px;
  margin: 20% 0 5% 0;
}

label {
  padding: 2%;
  font-size: 12px;
}

/* Right control */

.right-control {
  background-color: rgb(248, 248, 248);
  position: absolute;
  color: #1c1b1b;
  float: right;
  height: 100vh;
  width: 16.7vw;
  right: 0;
  top: 0;
}

.date {
  padding: 15% 0 10%;

  background-color: #607eaa;
}

.right-control p {
  margin: 0;
}

.date {
  text-align: center;
}

/* Location */

.title {
  margin-left: 15%;
  margin-top: 10%;
}

.title img,
h5,
button {
  display: inline-block;
  margin: 5% 2%;
}

.title button {
  border-radius: 10px;
  height: 25px;
}

.location {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

#location-input {
  font-size: 10px;
  height: 20px;
  width: 120px;
}

/* Main View */

.main {
  width: 100vw;
  margin-top: 2%;
}

.info-title {
  padding: 0 20px;
}

.top-card {
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 20px;

  background-color: #607eaa;
}

.temp {
  font-size: 60px;
}

.weather-icon {
  font-size: 64px;
}

.bot-card {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.humidity,
.wind {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.wi-raindrop,
.wi-strong-wind {
  padding-right: 10px;
  margin-top: 8px;
}

.bar {
  margin: 3%;
  height: 1px;
  background-color: #eaeff5;
}

.sun-data {
  padding: 0 20px;
}

.sunrise {
  display: flex;
  justify-content: flex-start;
}

.sunset {
  display: flex;
  justify-content: flex-end;
}

.wi-sunrise,
.wi-sunset {
  padding-right: 10px;
  margin-top: 4px;
}
